<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntityAtos"
         connectionString="Data Source=localhost; Initial Catalog=HomeManager; User ID=USUARIO; password=NEILSANTOS; language=Portuguese; trusted_connection=true; encrypt=false;"
         providerName="System.Data.SqlClient"
     />
  </connectionStrings>
</configuration>