@{
    ViewData["Title"] = "Patrimony";
    ViewData["PageHeader"] = "Patrimony Dashboard";
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#dashboard").attr("class", "nav-item menu-open");
            $("#dashboard-link").attr("class", "nav-link active");
            $("#patrimony-dashboard").attr("class", "nav-link active");
        })
    </script>


    <script src="~/plugins/chart.js/Chart.min.js"></script>

    @*-_---_--_-____-_--_---_---[CATEGORY CHARTS]____--__--_-_--_-____--__-_--___--_*@
    <script>
        //CountPerCategory
        $.ajax({
            url: './CountPerCategory',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (response) {

                let total = 0;
                $.each(response.data, function () { total += this });
                $('#total-category-count').html(total + ' products in total.')

                var graphic_1 = $('#contagem-categoria').get(0).getContext('2d')
                var graphic_1_data = {
                    labels: response.labels,
                    datasets: [
                        {
                            data: response.data,
                            backgroundColor: response.backGroundColors
                        }
                    ]
                }
                var donutOptions = { maintainAspectRatio: false, responsive: true, }
                new Chart(graphic_1, {
                    type: 'doughnut',
                    data: graphic_1_data,
                    options: donutOptions
                })

            },
            error: function (request, status, error) {
                toastr.error('Error on loading count per category graphic')
            }
        })
    </script>

    <script>
        
        $.ajax({
            url: './PricePerCategory',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (response) {

                let total = 0;
                $.each(response.data, function () { total += parseFloat(this) || 0; });
                $('#total-category-price').html('Total R$ ' + new Intl.NumberFormat('en-DE').format(total))

                var ticksStyle = {
                    fontColor: '#495057',
                    fontStyle: 'bold'
                }

                var mode = 'index'
                var intersect = true

                var $salesChart = $('#price-per-category-graphic')
                var salesChart = new Chart($salesChart, {
                    type: 'bar',
                    data: {
                        labels: response.labels,
                        datasets: [
                            {
                                data: response.data,
                                backgroundColor: response.backGroundColors,
                                borderColor: '#007bff',
                            }

                        ]
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            mode: mode,
                            intersect: intersect
                        },
                        hover: {
                            mode: mode,
                            intersect: intersect
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                // display: false,

                                gridLines: {
                                    display: true,
                                    lineWidth: '4px',
                                    color: 'rgba(0, 0, 0, .2)',
                                    zeroLineColor: 'transparent'
                                },
                                ticks: $.extend({
                                    beginAtZero: true,

                                    // Include a dollar sign in the ticks
                                    callback: function (value) {
                                        if (value >= 1000) {
                                            value /= 1000
                                            value += 'k'
                                        }

                                        return 'R$ ' + value
                                    }
                                }, ticksStyle)
                            }],
                            xAxes: [{
                                barPercentage: 0.2,
                                display: true,
                                gridLines: {
                                    display: true
                                },
                                ticks: ticksStyle
                            }]
                        }
                    }
                })

            },
            error: function (request, status, error) {
                toastr.error('Error on loading price per category graphic')
            }
        })
    </script>

    @*-_---_--_-____-_--_---_---[BRAND CHARTS]____--__--_-_--_-____--__-_--___--_*@
    <script>
        //CountPerCategory
        $.ajax({
            url: './CountPerCategory',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (response) {

                let total = 0;
                $.each(response.data, function () { total += this });
                $('#total-brand-count').html(total + ' products in total.')

                var graphic_1 = $('#brand-count-graphic').get(0).getContext('2d')
                var graphic_1_data = {
                    labels: response.labels,
                    datasets: [
                        {
                            data: response.data,
                            backgroundColor: response.backGroundColors
                        }
                    ]
                }
                var donutOptions = { maintainAspectRatio: false, responsive: true, }
                new Chart(graphic_1, {
                    type: 'doughnut',
                    data: graphic_1_data,
                    options: donutOptions
                })

            },
            error: function (request, status, error) {
                toastr.error('Error on loading count per category graphic')
            }
        })
    </script>

    <script>
        $.ajax({
            url: './PricePerCategory',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (response) {

                let total = 0;
                $.each(response.data, function () { total += parseFloat(this) || 0; });
                $('#total-brand-price').html('Total R$ ' + new Intl.NumberFormat('en-DE').format(total))
                

                var ticksStyle = {
                    fontColor: '#495057',
                    fontStyle: 'bold'
                }

                var mode = 'index'
                var intersect = true

                var $priceBrandChart = $('#price-per-brand-graphic')
                var salesChart = new Chart($priceBrandChart, {
                    type: 'bar',
                    data: {
                        labels: response.labels,
                        datasets: [
                            {
                                data: response.data,
                                backgroundColor: response.backGroundColors,
                                borderColor: '#007bff',
                            }

                        ]
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            mode: mode,
                            intersect: intersect
                        },
                        hover: {
                            mode: mode,
                            intersect: intersect
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                // display: false,

                                gridLines: {
                                    display: true,
                                    lineWidth: '4px',
                                    color: 'rgba(0, 0, 0, .2)',
                                    zeroLineColor: 'transparent'
                                },
                                ticks: $.extend({
                                    beginAtZero: true,

                                    // Include a dollar sign in the ticks
                                    callback: function (value) {
                                        if (value >= 1000) {
                                            value /= 1000
                                            value += 'k'
                                        }

                                        return 'R$ ' + value
                                    }
                                }, ticksStyle)
                            }],
                            xAxes: [{
                                barPercentage: 0.2,
                                display: true,
                                gridLines: {
                                    display: true
                                },
                                ticks: ticksStyle
                            }]
                        }
                    }
                })

            },
            error: function (request, status, error) {
                toastr.error('Error on loading price per category graphic')
            }
        })
    </script>

}

<div class="content">
    <div class="container-fluid">

        <!-- #### CHARTS #####-->
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Category</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Brand</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <!--TAB1-->
                            <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <div class="mb-4">
                                    <div class="row">
                                        <!-- Category Count -->
                                        <div class="col-sm-6">
                                            <p class="d-flex flex-column">
                                                <span>Category Count</span>
                                                <span id="total-category-count" class="text-bold text-lg "></span>
                                            </p>
                                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <canvas id="contagem-categoria" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 377px;" width="377" height="250" class="chartjs-render-monitor"></canvas>
                                        </div>
                                        <!-- Prices per Category -->
                                        <div class="col-sm-6">
                                            <div class="d-flex">
                                                <p class="d-flex flex-column">
                                                    <span>Price per Category</span>
                                                    <span id="total-category-price" class="text-bold text-lg"></span>
                                                </p>
                                                <!-- some future notes that can be usefull
                                                <p class="ml-auto d-flex flex-column text-right">
                                                    <span class="text-success">
                                                        <i class="fas fa-arrow-up"></i> 33.1%
                                                    </span>
                                                    <span class="text-muted">Since last month</span>
                                                </p>-->
                                            </div>

                                            <div class="position-relative mb-4">
                                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                <canvas id="price-per-category-graphic" height="257" style="display: block; width: 452px; height: 257px;" width="452" class="chartjs-render-monitor"></canvas>
                                            </div>
                                            <!-- some buttons that can be usefull in the future
                                            <div class="d-flex flex-row justify-content-end">
                                                <span class="mr-2">
                                                   <button type="button" class="btn btn-block btn-success btn-xs">Success</button>
                                                </span>
                                                <span>
                                                    <button type="button" class="btn btn-block btn-success btn-xs">Success</button>
                                                </span>
                                            </div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="row card-footer">
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 37%</span>
                                            <h5 class="description-header">R$ 15.207,00</h5>
                                            <span class="description-text text-bold text-sm text-muted">Eletrônico</span>
                                        </div>

                                    </div>
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 10%</span>
                                            <h5 class="description-header">R$ 4.270,00</h5>
                                            <span class="description-text text-bold text-sm text-muted">Móveis</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-warning"><i class="fas fa-percentage fa-sm"></i> 16%</span>
                                            <h5 class="description-header">R$ 6.470,00</h5>
                                            <span class="description-text text-bold text-sm text-muted">Eletrodoméstico</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 36%</span>
                                            <h5 class="description-header">R$ 15.000,00</h5>
                                            <span class="description-text text-bold text-sm text-muted">Colecionáveis</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 100%</span>
                                            <h5 class="description-header">R$ 40.947,00</h5>
                                            <span class="description-text text-bold text-sm text-muted">TOTAL</span>
                                        </div>

                                    </div>
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block">
                                            <div class="description-header mt-4"><button id="submit" class="btn btn-success" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"> <i class="fas fa-plus"></i> Novo Produto</button></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           <!--TAB2-->
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                <div>
                                    <div class="row">
                                        <!-- Brand Count Section -->
                                        <div class="col-sm-6">
                                            <p class="d-flex flex-column">
                                                <span>Brand Count</span>
                                                <span id="total-brand-count" class="text-bold text-lg"></span>
                                            </p>
                                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                            <canvas id="brand-count-graphic" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 377px;" width="377" height="250" class="chartjs-render-monitor"></canvas>
                                        </div>
                                        <!-- Price per Brand Section -->
                                        <div class="col-sm-6">
                                            <div class="d-flex">
                                                <p class="d-flex flex-column">
                                                    <span>Price per Brand</span>
                                                    <span id="total-brand-price" class="text-bold text-lg"></span>
                                                </p>
                                                <!-- some future notes that can be usefull
                                                <p class="ml-auto d-flex flex-column text-right">
                                                    <span class="text-success">
                                                        <i class="fas fa-arrow-up"></i> 33.1%
                                                    </span>
                                                    <span class="text-muted">Since last month</span>
                                                </p>-->
                                            </div>

                                            <div class="position-relative mb-4">
                                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                <canvas id="price-per-brand-graphic" style="min-height: 257px; height: 257px; max-height: 257px; max-width: 100%; display: block; width: 377px;" width="377" height="257" class="chartjs-render-monitor"></canvas>
                                            </div>
                                            <!-- some buttons that can be usefull in the future
                                            <div class="d-flex flex-row justify-content-end">
                                                <span class="mr-2">
                                                   <button type="button" class="btn btn-block btn-success btn-xs">Success</button>
                                                </span>
                                                <span>
                                                    <button type="button" class="btn btn-block btn-success btn-xs">Success</button>
                                                </span>
                                            </div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="row card-footer">
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 37%</span>
                                            <h5 class="description-header">R$ 15.207,00</h5>
                                            <span class="description-text text-bold text-lg text-muted">Eletrônico</span>
                                        </div>

                                    </div>
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 10%</span>
                                            <h5 class="description-header">R$ 4.270,00</h5>
                                            <span class="description-text text-bold text-lg text-muted">Móveis</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-warning"><i class="fas fa-percentage fa-sm"></i> 16%</span>
                                            <h5 class="description-header">R$ 6.470,00</h5>
                                            <span class="description-text text-bold text-lg text-muted">Eletrodoméstico</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 36%</span>
                                            <h5 class="description-header">R$ 15.000,00</h5>
                                            <span class="description-text text-bold text-lg text-muted">Colecionáveis</span>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 col-6">
                                        <div class="description-block">
                                            <span class="description-percentage text-success"><i class="fas fa-percentage fa-sm"></i> 100%</span>
                                            <h5 class="description-header">R$ 40.947,00</h5>
                                            <span class="description-text text-bold text-lg text-muted">TOTAL</span>
                                        </div>

                                    </div>
                                    <div class="col-sm-2 col-6">
                                        <div class="description-block">
                                            <div class="description-header mt-4"><button id="submit" class="btn btn-success" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"> <i class="fas fa-plus"></i> Novo Produto</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- #### END GRAFICOS  #####-->

        <div class="row">

            <!--Left Side-->
            <div class="col-lg-6">

            <!--Item 1 - ITENS -->
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Top 5 ítens</h3>
                        <!--<div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-download"></i>
                            </a>
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-bars"></i>
                            </a>
                                </div>-->
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monitor 27' Curvo</td>
                                    <td>Eletrônico</td>
                                    <td>900,00</td>
                                    <td><a href="#" class="text-muted"><i class="fas fa-search"></i></a></td>
                                </tr>
                                
                                <tr>
                                    <td>Monitor 27' Curvo</td>
                                    <td>Eletrônico</td>
                                    <td>900,00</td>
                                    <td><a href="#" class="text-muted"><i class="fas fa-search"></i></a></td>
                                </tr>

                                <tr>
                                    <td>Monitor 27' Curvo</td>
                                    <td>Eletrônico</td>
                                    <td>900,00</td>
                                    <td><a href="#" class="text-muted"><i class="fas fa-search"></i></a></td>
                                </tr>

                                <tr>
                                    <td>Alexa Echo Dot 3</td>
                                    <td>Eletrônico</td>
                                    <td>210,00</td>
                                    <td><a href="#" class="text-muted"><i class="fas fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>TV 65' Smart</td>
                                    <td>Eletrônico</td>
                                    <td>210,00</td>
                                    <td><a href="#" class="text-muted"><i class="fas fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-default bg-gradient-success float-right" onclick="location.href='/Patrimony/Index'">Ver Lista Completa</button>

                    </div>
                </div>
                <!-- /.Item 1 - ITENS -->
            </div>
            <!-- /.Lado Esquerdo -->
            
            
            <!--Right Side-->
            <div class="col-lg-6">

                <!--Item 1-->
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Lista de Compras</h3>
                        <!--<div class="card-tools">
                           <a href="#" class="btn btn-tool btn-sm">
                               <i class="fas fa-download"></i>
                           </a>
                           <a href="#" class="btn btn-tool btn-sm">
                               <i class="fas fa-bars"></i>
                           </a>
                               </div>-->
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TV 32' com borda infinita</td>
                                    <td>Eletrônico</td>
                                    <td>1000,00</td>
                                </tr>

                                <tr>
                                    <td>Audio Board 2.1 50*2 + 100w</td>
                                    <td>Eletrônico</td>
                                    <td>120,00</td>
                                </tr>

                                <tr>
                                    <td>Gaveteiro móvel</td>
                                    <td>Móveis</td>
                                    <td>900,00</td>
                                </tr>

                                <tr>
                                    <td>Caixas Organizadoras</td>
                                    <td>Acessórios</td>
                                    <td>40,00</td>
                                </tr>
                                <tr>
                                    <td>TV 85' Smart</td>
                                    <td>Eletrônico</td>
                                    <td>7000,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default bg-gradient-success float-right">Cadastrar um Novo</button>
                    </div>
                </div>
                <!-- /.Item 1 -->
            </div>
            <!-- /.Lado Direito -->
        </div>
        <!-- /.row -->


       
    </div>
    <!-- /.container-fluid -->
</div>

