@{
    ViewData["PageHeader"] = "General";
    ViewData["Title"] = "Patrimony > " + ViewData["PageHeader"];
}
@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#patrimony").attr("class", "nav-item menu-open");
            $("#patrimony-link").attr("class", "nav-link active");
            $("#general").attr("class", "nav-link active");
        })
    </script>

    <script>

        let state = true;
        function changeIconView() {
            let icon = document.getElementById('change-view-icon');
            if (state) {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-th")
            } else {
                icon.removeAttribute("class")
                icon.setAttribute("class", "fas fa-bars")
            }
            state = !state;
        }
        function changeView() {

        }
    </script>
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button id="submit" class="btn btn-success float-right" onclick="location.href='@Url.Action("NewProduct", "Patrimony")'"> <i class="fas fa-plus"></i> Novo Produto</button>
            </div>
        </div>
        </div>
        <!--VIEW 1-->
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <ul class="nav nav-pills mr-auto p-2">
                            <li class="nav-item"><a class="nav-link mr-3" href="#" onclick="changeIconView()"><i id="change-view-icon" class="fas fa-bars"></i></a></li>
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Todos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Eletrônicos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Eletrodomésticos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">Móveis</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!--Todos-->
                            <div class="tab-pane active" id="tab_1">
                               <div class="row">
                                    @{
                                        for (int i = 0; i < 5; i++)
                                        {
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-header">
                                                       <h5>Monitor Curvo 27'</h5>
                                                    </div>

                                                    <div class="card-body p-0">
                                                        
                                                        <ul class="products-list product-list-in-card pl-2 pr-2">
                                                            <li class="item">
                                                                
                                                                <div class="product-img mt-3 mr-3">
                                                                    <img src="~/theme/img/iconpack/monitor.png" alt="Product Image" class="img-size-50">
                                                                </div>

                                                                    <span class=" badge badge-warning float-right">R$1.029,00</span>
                                                                <div class="text-nowrap mt-3">
                                                                    <a href="javascript:void(0)" class="product-title">
                                                                        Samsung
                                                                    </a>
                                                                    <span class="product-description">
                                                                        F390 Series C27F390FH
                                                                    </span>
                                                                    
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div class="card-footer text-center">
                                                        <a href="javascript:void(0)" class="uppercase">More Information</a>
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    }
                                    
                               </div>
                            </div>

                            <!--Eletrônicos-->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Eletrodomésticos-->
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Moveis-->
                            <div class="tab-pane" id="tab_4">
                                <div class="row">
                                    <div class="table-responsive p-0" style="height: 700px;">
                                        <table class="table table-head-fixed text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Valor</th>
                                                    <th>NFe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 20; i++)
                                                    {
                                                        <tr>
                                                            <td>Monitor LG</td>
                                                            <td>Samsung</td>
                                                            <td>F390 Series C27F390FH</td>
                                                            <td>1.029,00</td>
                                                            <td><a class="nav-link">NFe <span class="float-right badge bg-danger">VISUALIZAR</span></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--VIEW 2
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Fixed Header Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" wfd-id="id3">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Valor</th>
                                    <th>NFe</th>
                                </tr>
                            </thead>
                            <tbody>
                              @{for (int i = 0; i < 3; i++)
                                {
                                        <tr>
                                            <td>Monitor LG</td>
                                            <td>Samsung</td>
                                            <td>F390 Series C27F390FH</td>
                                            <td>1.029,00</td>
                                            <td>
                                                <a class="nav-link">
                                                    NFe <span class="float-right badge bg-danger">VISUALIZAR</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }}
                                
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>-->
    </div>

</section>
