@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#main-settings").attr("class", "nav-link active");
        })
    </script>
    }
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Marcas</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Microsoft</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Samsung</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>LG</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Xiaomi</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Eletrolux</td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default bg-gradient-success float-right">Novo</button>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Modelos</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Microsoft</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Samsung</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>LG</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Xiaomi</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Eletrolux</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default bg-gradient-success float-right">Novo</button>
                    </div>
                </div>
            </div>
            
            
          
            <!-- /.row -->
        </div>
        <!-- /.card-row -->
    </div>
</section>